<div class="card mb-2" style="width: 30%;">
    <header class="card-header card-header-title has-background-grey-lighter">
        <div class="column" style="font-size: large;">

            <span><strong>Title:</strong> {{wishlist_title}}</span>
        </div>
        <div class="column">
            <span class=""> </span>
        </div>
    </header>
</div>