<div class="card mb-6">
    <div class="card-content">
        <h2 class="title">Create New Review</h2>
        <form class="new-review-form">
            <div>
                <label class="subtitle" for="review-title">Title:</label>
                <input class="input" type="text" id="review-title" name="review-title" placeholder="Title Here" />
            </div>
            <br>
            <div>
                <label class="subtitle" for="review-body">My Review:</label>
                <input class="input" id="review-body" name="review-body" placeholder="Review Here" />
            </div>
            <br>
            <button type="submit" class="tag is-info is-medium is-light">Create New Review</button>
        </form>
    </div>
</div>

<script src="/Public/JS/add-review.js"></script>