<div class="card mb-6">
    <header class="card-header card-header-title has-background-grey-lighter">
        <div class="column">
            <p class=" has-text-primary-light"></p>
            <a href="/dashboard">Back to My Dashboard</a>
            <br>
            <br>
            <h2 class="title">Delete Item From Watch List</h2>
        </div>
        <div class="column">
            <span class=""> </span>
        </div>
    </header>
    <div class="card-content">
        <form class="edit-wishlist-form">
            <div>
                <span>
                    <div class="subtitle"><strong>Title:</strong>
                        {{wishlist.wishlist_title}}</div>
                </span>
            </div>
            <br>
            <button class="tag is-info is-medium is-light delete-wishlist-btn" type="click">
                Delete Title From List
            </button>
        </form>
    </div>
</div>
</div>

<script src="/Public/JS/edit-review.js"></script>
<script src="/Public/JS/delete-wishlist.js"></script>