<article class="media">
    <figure class="media-left">
        <p class="img">
            <img src="https://www.readersdigest.ca/wp-content/uploads/2019/07/anger-angry-woman.jpg">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Want to remember the movies and shows you've seen?</strong>
                <br>
                <br>
                You’re in the right place! With My Media Mate you can keep track of the media that you've watched
                along with your custom reviews. Never make the mistake of watching a bad movie more than once!
            </p>
        </div>
    </div>
</article>

<article class="media">
    <figure class="media-left">
        <p class="img">
            <img
                src="https://static.scientificamerican.com/sciam/cache/file/046C0442-4DCD-43D3-BAB1E903D8B9EEC2_source.jpg?w=590&h=800&15E43DAE-982D-4EA1-A817CA18F4494BBF">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Never waste time choosing what to watch again!</strong>
                <br>
                <br>
                Keep a running list of movie and tv shows that on your must-watch list. As you work your way through,
                remember to write a review!
            </p>
        </div>
    </div>
</article>

{{!-- Was going to be used for carousel --}}
{{!--
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 4
    });
</script> --}}