<br>
<br>
<div class="card mb-6" style="width: 30%;">
    <div class="card-content">
        <h2 class="subtitle"><strong>Add to Future Watch List</strong></h2>
        <form class="new-wishlist-form">
            <div>
                <label class="subtitle" for="wishlist-title">Movie/Show Title:</label>
                <input class="input" type="text" id="wishlist-title" name="wishlist-title" placeholder="Title Here" />
            </div>
            <br>
            <button type="submit" class="tag is-info is-medium is-light">Add to My List</button>
        </form>
    </div>
</div>
<p class="title" style="text-align: center;">
    My Future Watch List:
</p>

{{#if wishlists.length}}

{{#each wishlists as |wishlist|}}
{{> wishlists wishlist}}
<a class="navbar-item tag is-info is-medium mb-6" style="margin-left:45% ;"
    href=" /dashboard/edit/list/{{wishlist.id}}">
    Edit List Item
</a>

{{/each}}

{{else}}
<div>You do not currently have any movies on your watch list</div>

{{/if}}

<script src="/Public/JS/add-wishlist.js"></script>
<script src="/Public/JS/delete-wishlist.js"></script>