<div class="card mb-6">

    <div class="row">
        <div class="card-content-l">
            <div class="col-md-6">
                <p class="subtitle">Login</p>
                <form class="form login-form">
                    <div class="form-group">
                        <label for="email-login">Email:</label>
                        <input class="form-input" type="text" id="email-login" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input class="form-input" type="password" id="password-login" />
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="tag is-info is-medium is-light" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-content-s">
            <div class="col-md-6">
                <p class="subtitle">Signup</p>
                <form class="form signup-form">
                    <div class="form-group">
                        <label for="name-signup">Name:</label>
                        <input class="form-input" type="text" id="name-signup" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="text" id="email-signup" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="tag is-info is-medium is-light" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/Public/JS/login.js"></script>